
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #2F3B39;
}

.bio {
  text-align: center;
  color: #DFE6E4;
  margin-top: 16px;
  font-size: 15px;
}

.loadContainer {
  text-align: center;
  color: #DFE6E4;
  margin-top: 16px;
  font-size: 15px;
  align-content: center;
}

.spin {
    margin: auto auto;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: #CCD2D0;
  color: #2F3B39;
  
}